figure {
  text-align: center;
  
}
nav{
  text-align: center;
}
nav > a{
  background-color: gray;
  padding-left: 10px;
  padding-right: 10px;
}
figcaption{
  text-align: center;
  font-size: small;
}


section#featured-property p{
  text-align: center;
  width: 800px;
}

section#details div {
  float: left;
  background-color: grey;
  text-align: center;
  width: 25%;
}
p{
  text-align: center ;
  align-content: center;
}
section#featured-property{
  align-content: center;
  text-align: center;
  width: 800px;
  text-align-last: center;
}
